@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
.container {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.label{
  font-family: 'Nunito Sans', sans-serif;
  font-size:20px;
  text-align:center;
}
